@import 'src/styles.scss';

.app{
	max-width: 60rem;
	padding: $gutter;
	margin: 0 auto;
}
.app__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.app__heading {
	margin-right: $gutter * 2;
}