// colours
$pale-green: #eef5db;
$mint: #c7efcf;
$tangerine: #fe5f55;
$coral: #e63462;
$charcoal: #333745;

// utility
$gutter: 0.625rem;
$border-radius: 3px;

// styles
body {
	background-color: $pale-green;
	font-family: Helvetica, Arial, sans-serif;
	color: $charcoal;
}
a {
	color: $tangerine;
	text-decoration: none;
	&:focus,
	&:hover {
		color: $coral;
		outline: none;
	}
}
.btn {
	border: 0;
	border-radius: $border-radius;
	background-color: $tangerine;
	color: white;
	padding: $gutter ($gutter *2);
	&:focus,
	&:hover {
		background-color: $coral;
		cursor: pointer;
		outline: none;
	}
	.btn + & {
		margin-left: $gutter;
	}
}

@media print {
	a {
		&:after {
			content: ' (' attr(href) ') ';
		}
	}
	.btn {
		display: none;
	}
}